.container{
    /* background-color: white; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    /* align-items: center; */
    color: var(--text);
    padding: 10px;
}

.right button{
    width: 50px;
    background-color: var(--alt);
    padding: 5px;
    border-radius: 8px;
    color: var(--text);
    outline: none;
    border: none;
    cursor: pointer;
}

.hamburger{
    width: 30px;
    height: 30px;
    color: white;
    display: none;
}

@media screen and (max-width: 1040px) {
    .hamburger{
        display: block;
    }
}