.container{
    position: absolute;
    max-width: 200px;
    height: 25%;
    z-index: 9999;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header{
    display: flex;
    justify-content: flex-end;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input{
    width: 100%;
    color: var(--text);
}

.input input{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    outline: none;
}

@media screen and (max-width: 768px) {
    
}